@model BarCodeLibrary.Respones.SAP.Pannreaksmey.ResponsePrintItemLable;
@{
    ViewData["Title"] = "ViewItemLabelPDF";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <!-- Font Awesome JS -->
    <link href="~/css/styles.css" rel="stylesheet"/>
    <script src="~/font icon/fontaws.js"></script>
    <script src="~/font icon/fonticons.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<style>
    .container-fluid {
        font-family: arial;
        font-size: 6px;
        height: 264.5669291339px;
        margin: 10px auto 5px auto;
        outline: solid 1px black;
        width: 226.7716535433px;
    }

    #ImgFDA {
        max-height: 65%;
        max-width: 65%;
    }

    #img1 {
        height: 35px;
        width: 35px;
    }

    #img {
        height: 110px;
        margin: 5px auto auto 40px;
        width: 110px;
    }

    div.logo {
        background-image: url("/Icon/FDA Number.jpg");
        /*  -moz-transform:scale(0.75);
        -webkit-transform:scale(0.75);
        transform:scale(0.75);*/
    }

    .portrait {
        height: 40px;
        width: 700px;
    }
/*  @@page {
            size: auto;
            size: A3;
            margin: 0mm;
        }

        @@media print {
            #header, #nav .noprint {
                display: none;
            }

            body {
                height: 75px;
                width: 180px;
                margin: 4px 7px 2px 4px;
            }
        }

        @@media screen {
            .hideonprint {
                display: table-cell;
            }
        }*/
</style>
<body style="background-color:#ffffff">

<div class="row" s>
    <div class="col-12">
        <table >
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                @{ var i = 1; }
                @foreach (var l in Model.Data)
                {
                    @if (i == 1)
                    {
                        <div>
                            <br/>
                        </div>
                    }
                    else
                    {
                        <div>
                            <br/>
                            <br/>
                        </div>
                    }
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-10" style="font-size: 8px; margin-left: 0px;">
                                <label style="margin-bottom: 0px; margin-top: 2px;">
                                    <strong>นำเข้าและจัดจำหน่ายโดย</strong>
                                </label>
                            </div>
                            <div class="col-12  " style="font-size: 6px; margin-bottom: 0px; margin-top: 2px;">
                                @*<img src="https://chart.googleapis.com/chart?chf=bg,s,65432100&cht=qr&chs=60x60&chl=@String.Concat(l.ItemCode,l.ItemName,l.ProductCode)" id="img1" style="float:right;margin-right:-20px;margin-top:-6%">*@
                                <img src="@Url.Action("GenerateQRCode", "QRBarcode")?itemcode=@l.ItemCode&&itemname=@l.ItemName&&fda=@l.ProductCode&&str=@string.Empty" id="img1" style="float: right; margin-right: -5px; margin-top: -6%"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="font-size: 8px; margin-bottom: 1px; margin-left: 0px;">
                                <label style="margin-bottom: 1px; margin-top: 0px;">
                                    <strong>บริษัท อุดมเมดิคอล อิควิปเม้นท์ จำกัด</strong>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="font-size: 8px; margin-bottom: 1px; margin-left: 0px;">
                                <label style="margin-bottom: 1px; margin-top: 0px;">
                                    <strong>เลขที่ 80 ซอยพัฒนาการ69 แขวงประเวศ</strong>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="font-size: 8px; margin-bottom: 1px; margin-left: 0px;">
                                <label style="margin-bottom: 1px; margin-top: 0px;">
                                    <strong> เขตประเวศ กรุงเทพฯ 10250</strong>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="font-size: 8px; margin-bottom: 1px; margin-left: 0px;">
                                <label style="margin-bottom: 1px; margin-top: 0px;">
                                    <strong>โทร.02-320-1234 , 085-344-3444</strong>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 portrait" style="margin-left: 15%; margin-top: 10px">
                                <img src="/Icon/FDA_Number1-removebg.png" id="ImgFDA">
                                <p style="margin-left: 25%; margin-top: -15px">@l.fda</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                @*<img src="https://chart.googleapis.com/chart?chf=bg,s,65432100&cht=qr&chs=150x150&chl=@String.Concat(l.ItemCode,l.BatchSN,l.ExpDate)" id="img" @i>*@
                                <img src="@Url.Action("GenerateQRCode", "QRBarcode")?itemcode=@string.Empty&&itemname=@string.Empty&&fda=@string.Empty&&str=@l.ConcatText2" id="img" @i/>
                            </div>
                        </div>
                    </div>
                    i = i + 1;
                }


            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    //window.print();
    //onafterprint = function () {
    //    this.window.history.back();
    //}
    oncancel = function() {
        this.window.history.back();
    };
    genQR();

    function genQR() {
        var gapi = "https://chart.googleapis.com/chart?chf=bg,s,65432100&cht=qr&chs=";
        var myimg = document.getElementById("img");
        var myimg1 = document.getElementById("img1");
        var myimg2 = document.getElementById("img2");
        var mytext = "Hello";
        var mytext1 = "welcom";
        var mytext2 = "Hi";
        //myimg.src = gapi + "90x90&chl=" + mytext;
        //myimg1.src = gapi + "60x60&chl=" + mytext1;
        // myimg2.src = gapi + "60x60" + "&chl=" + mytext2;

    }
</script>
</body>
</html>