@{
    ViewData["Title"] = "Aministrator";

}
<style type="text/css">
    /*Scanner*/
    @@media screen and (max-width: 320px) {
        #Icon {
            color: #5f95c3;
            font-size: 45px;
            margin-top: 15px;
            text-align: center;
        }

        .tabIcon {
            width: 100px;
            height: 115px;
            background: #f0eff1;
        }

        .p1 {
            text-align: center;
            padding-top: 15px;
        }
    }

    /*Moblie*/
    @@media screen and (max-width: 500px) {
        #Icon {
            color: #5f95c3;
            font-size: 45px;
            margin-top: 60px;
            text-align: center;
        }

            #Icon:hover {
                margin-top: 55px;
                font-size: 60px;
            }

        .tabIcon {
            width: 100%;
            height: 100%;
            background: #f0eff1;
        }

        .p1 {
            text-align: center;
            padding-top: 15px;
        }
    }

    /*Laptop*/
    @@media (min-width:300px) and (max-width:1920px) {
        #Icon {
            color: #5f95c3;
            font-size: 45px;
            margin-top: 60px;
            text-align: center;
        }

            #Icon:hover {
                margin-top: 55px;
                font-size: 60px;
            }

        .tabIcon {
            width: 100%;
            height: 100%;
            background: #f0eff1;
        }

        .p1 {
            text-align: center;
            padding-top: 15px;
        }
    }
</style>

<script type="text/javascript">
    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    let user0name = getCookie("username");
    //console.log("USERNAME : " + user0name);

    $(document).ready(function () {

        //#TabUserSetup
        if (user0name == "admin") {
            document.getElementById("TabUserSetup").style.display = "block";
            //alert("Display is block");
        } else {
            document.getElementById("TabUserSetup").style.display = "none";
            //alert("Display is none");
        }

    });    

</script>

<div class="container">
    <div class="row">
        @*Bin Location *@
        <div class="alink col-lg-3" id="TabUserSetup">
            <a asp-controller="Admin" asp-action="UserSetup">
                <div class="tabIcon">
                    <div style="text-align:center">
                        <p class="p1">
                            <b>User</b><br>
                            <i id="Icon" class="fas fa-users" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="alink col-lg-3">
            <a asp-controller="Admin" asp-action="Authorize">
                <div class="tabIcon">
                    <div style="text-align:center">
                        <p class="p1">
                            <b>Label Setup</b><br>
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="alink col-lg-3">
            <a asp-controller="Admin" asp-action="ProgramAndDriver">
                <div class="tabIcon">
                    <div style="text-align:center">
                        <p class="p1">
                            <b>Program and Driver</b><br>
                            <i id="Icon" class="fas fa-download" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <script>
        $('#User').mouseout(function () {
            document.getElementById("User").style.backgroundColor = "#ffffff";
        });
        $('#User').mouseover(function () {
            document.getElementById("User").style.backgroundColor = "rgba(0, 74, 153,0.1)";
        });
        $('#Label').mouseout(function () {
            document.getElementById("Label").style.backgroundColor = "#ffffff";
        });
        $('#Label').mouseover(function () {
            document.getElementById("Label").style.backgroundColor = "rgba(0, 74, 153,0.1)";
        });
        
</script>
</div>