
@{
    ViewData["Title"] = "Delivery";
    DateTime dt = DateTime.Now;
    ViewData["Date"] = dt.ToShortDateString();
}

<link href="~/css/styles.css" rel="stylesheet" />
<link href="~/css/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/css/DataTable/rowReorder.dataTables.min.css" rel="stylesheet" />
<link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />
@*<link href="~/css/DataTable/responsive.dataTables.min.css" rel="stylesheet" />*@

<script src="~/css/DataTable/jquery-3.3.1.js"></script>
@*<script src="~/css/DataTable/jquery-3.5.1.js"></script>*@
<script src="~/css/DataTable/jquery.dataTables.min.js"></script>
<script src="~/css/DataTable/dataTables.rowReorder.min.js"></script>
<script src="~/css/DataTable/dataTables.responsive.min.js"></script>
<script src="~/css/DataTable/moment.min.js"></script>
<script src="~/css/DataTable/datetime-moment.js"></script>
<script src="~/css/DataTable/dataTables.buttons.min.js"></script>
<script src="~/css/DataTable/dataTables.select.min.js"></script>
<script src="~/css/DataTable/dataTables.dateTime.min.js"></script>

<script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
<script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>

<style>
    tr.selected {
        background: red;
        color: red;
    }

    #main {
        position: absolute;
    }

    .color_tap {
        min-width: 60px;
        background-color: #5f95c3;
        color: #ffffff;
        font-weight: 600;
        margin-right: 1px;
    }

    .nav-tabs .nav-link {
        border-radius: 0px 12px 0px 0px;
        border: 1px solid rgb(193, 193, 193);
        height: 40px;
        line-height: 20px;
    }

    .modal {
        z-index: 200000;
    }

    .modal-header {
        background: #5f95c3;
        height: 40px;
        color: #ffffff;
    }

        .modal-header b {
            margin-top: -10px;
        }

    #TbAR table tr td {
        position: relative !important;
        padding: 0px !important;
        height: 35px;
        margin-left: 15px;
        margin-top: 10px;
        background-color: none;
    }

    table tbody tr td {
        background-color: #ffffff;
        color: black;
    }

    table tbody tr.selected td {
        background: #94d8e1;
        color: red;
    }

        table tbody tr.selected td .clsinput {
            background: #94d8e1;
            color: red;
        }

    .clsinput:focus {
        outline: none;
    }

    table.dataTable th {
        font-size: 12px;
        white-space: pre-wrap;
        background-color: skyblue;
        color: white;
    }

    table.dataTable td {
        font-size: 12px;
        white-space: pre-wrap;
        font-weight: bold;
    }

    .BoxScan {
        /*display: none;*/
        border: 3px solid black;
        border-radius: 3px 3px;
    }
</style>

<script type="text/javascript">
    /*DocDate*/
    $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $('#DocDate').val(today);
        $('#DocumentDate').val(today);

    });
    function checkBarcodeUDOM() {
        document.getElementById("divBarcodeUDOM").style.display = "block";
        document.getElementById("divBarcodeProduct").style.display = "none";
        document.getElementById("txtScanBarCode01").focus();

        document.getElementById("rdoTypeItem1").checked = false;
        document.getElementById("rdoTypeItem2").checked = false;
        document.getElementById("txtQuantity02").disabled = true;
        document.getElementById("txtScanBarCode02").disabled = true;
        document.getElementById("txtScanBatchSerial02").disabled = true;

    }
    function checkBarcodeProduct() {
        document.getElementById("divBarcodeUDOM").style.display = "none";
        document.getElementById("divBarcodeProduct").style.display = "block";
        document.getElementById("txtScanBarCode02").focus();
    }

    function chTypeItem() {
        document.getElementById("txtQuantity02").disabled = false;
        document.getElementById("txtScanBarCode02").disabled = false;
        document.getElementById("txtScanBatchSerial02").disabled = false;
        document.getElementById("txtScanBarCode02").focus();
        document.getElementById("txtQuantity02").value = "1";
        document.getElementById("txtScanBarCode02").value = "";
        document.getElementById("txtScanBatchSerial02").value = "";
    }

</script>

<div id="#main">
    <form id="frm-example" action="#" method="POST">
        <div class="row" style="margin-left:5px;margin-top:5px;color:#696969;">
            <h5 style="margin-top:5px;color:#696969;">
                <a asp-action="DashboardAR" asp-controller="Dashboard" onclick="return confirm('Unsaved data will be lost. Do you want to continue without saving?')"><i class="fas fa-home"></i> Dashboard</a>
                <span>
                    <a asp-action="ShowAR" asp-controller="ARInvoice" onclick="return confirm('Unsaved data will be lost. Do you want to continue without saving?')"><i class="fa fa-caret-right align-right"></i> Delivery </a>
                    <i class="fa fa-caret-right align-right"></i> Create Delivery
                </span>
            </h5>
        </div>
        <hr />
        <div class="row" style="margin-left: 5px; margin-top: 5px; color: #696969; margin-right: 5px;">
            <div class="table-responsive">
                <h4>List SO :</h4>
                <table id="TbSaleOrder" class="table table-hover nowrap" cellspacing="0" style="width:100%; background:#ffffff;color:#696969;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>DocNum</th>
                            <th>DocEntry</th>
                            <th>Posting Date</th>
                            <th>CardCode</th>
                            <th>Customer</th>
                            <th>SlpCode</th>
                            <th>Seller</th>
                        </tr>
                    </thead>
                </table>
            </div><br>
            <div align="right" class="table-responsive-sm"><button class="btn btn-info">Next</button></div>
        </div>

    </form>
    @* ==== Close Form ==== *@

</div>





<div id="SOLine" style="display:none">
    <div class="row">
        <div class="col-sm-12" style=" padding: 3px; ">
            <div class="table-responsive">
                <table id="TbSOLine" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="width:100%; background:#f0eff1;color:#696969;">
                    <thead>
                        <tr>
                            <th>Item Code</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>DiscPrcnt</th>
                            <th>VatGroup</th>
                            <th>Total</th>
                            <th>WhsCode</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <br>
        </div>
    </div>
</div>


@*Create Models*@
@*0. Search List Sale Order *@
<div class="modal fade" id="ModalSaleOrder">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background:#f0eff1;color:#696969;">
            <div class="modal-header">
                <b>List of Sale Order</b>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TbSaleOrder" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                <thead>
                                    <tr>
                                        <th>DocNum</th>
                                        <th>DocEntry</th>
                                        <th>Posting Date</th>
                                        <th>CardCode</th>
                                        <th>CardName</th>
                                        <th>SlpCode</th>
                                        <th>SlpName</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" id="ChooseSO" style="background:#f0eff1;color:#696969;">Choose</button>
                <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
            </div>
        </div>
    </div>
</div>

@*5. Search Series*@
<div class="modal fade" id="ModalSeries">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background:#f0eff1;color:#696969;">
            <div class="modal-header">
                <b>List of Series</b>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TbSeries" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                <thead>
                                    <tr>
                                        <th>Series</th>
                                        <th>SeriesName</th>
                                        <th>YYYY-MM</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" id="ChooseSeries" style="background:#f0eff1;color:#696969;">Choose</button>
                <button class="btn btn-info" data-dismiss="modal" id="CloseSeries" style="background:#f0eff1;color:#696969;">Close</button>
            </div>
        </div>
    </div>
</div>

@*4. Search SaleEmployee*@
<div class="modal fade" id="ModalSaleEmployee">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background:#f0eff1;color:#696969;">
            <div class="modal-header">
                <b>List of Sale Employee</b>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TbSaleEmployee" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                <thead>
                                    <tr>
                                        <th>SlpCode</th>
                                        <th>SlpName</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" id="ChooseSlp" style="background:#f0eff1;color:#696969;">Choose</button>
                <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Array.js"></script>
<script type="text/javascript">

    var tbListSO = $('#TbSaleOrder').DataTable({
        "ajax": {
            "url": '@Url.Action("GetSO", "SaleOrder")',
            "type": "GET",
            "dataType": "JSON",
            "dataSrc": 'data',
            "complete": function (data) {
                console.log("GetSO Complete.");
            }
        },
        'columns': [
            { "data": "docEntry" },
            { "data": "docNum" },
            { "data": "docEntry" },
            { "data": "docDate" },
            { "data": "cardCode" },
            { "data": "cardName" },
            { "data": "slpCode" },
            { "data": "slpName" },
        ],
        'columnDefs': [
            {
                'targets': 0,
                'checkboxes': {
                    'selectRow': true
                }
            }
        ],
        'select': {
            'style': 'multi'
        },
        'order': [[0, 'desc']],
        'info': false,
        'responsive': false,
        'ordering': false,
        'paging': false
    });

    tbListSO.columns([2, 4, 6]).visible(false, false);


    $('#frm-example').on('submit', function (e) {
        console.clear();

        var sLine = [];
        var sdata = {};
        var selectedIds = tbListSO.columns().checkboxes.selected()[0];
        console.log(selectedIds)

        

        selectedIds.forEach(function (selectedId) {
            arrayLine = {};
            arrayLine.docEntry = selectedId;
            sLine.push(arrayLine);
        });


        sdata.Data = sLine;
        if (selectedIds.length > 0) {
            console.log(sdata);
            $.ajax({
                url: '@Url.Action("PostDataFromSO", "SaleOrder")',
                type: "POST",
                data: { sdata: sdata},
                dataType: "JSON",
                success: function (data) {                   
                    if (data == 1) {
                        window.location.href = "@Url.Action("ListSO", "SaleOrder")";
                    }
                }
            });
        }

        //    var form = this;

        //    var rows_selected = tbListSO.column(0).checkboxes.selected();

        //    // Iterate over all selected checkboxes
        //    $.each(rows_selected, function (index, rowId) {
        //        // Create a hidden element
        //        $(form).append(
        //            $('<input>')
        //                .attr('type', 'hidden')
        //                .attr('name', 'id[]')
        //                .val(rowId)
        //        );
        //    });
        e.preventDefault();
    });

</script>

