<!DOCTYPE html>
<html>
<head>
    <title>Attach File</title>
</head>
<body>
    <h2>Submit Email with Attachment</h2>
    <form asp-controller="Email" asp-action="Index" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger">
            <div>

            </div>

        </div>

        <h2>@ViewBag.message</h2>
    </form>
</body>
</html>