
@{
    ViewData["Title"] = "O2O";
    DateTime dt = DateTime.Now;
    ViewData["Date"] = dt.ToShortDateString();
}

<link href="~/css/DataTable/jquery.dataTables.min.css" rel="stylesheet" />


<style>
    tr.selected {
        background: red;
        color: red;
    }

    #main {
        position: absolute;
    }

    .color_tap {
        min-width: 60px;
        background-color: #5f95c3;
        color: #ffffff;
        font-weight: 600;
        margin-right: 1px;
    }

    .nav-tabs .nav-link {
        border-radius: 0px 12px 0px 0px;
        border: 1px solid rgb(193, 193, 193);
        height: 40px;
        line-height: 20px;
    }

    .modal {
        z-index: 200000;
    }

    .modal-header {
        background: #5f95c3;
        height: 40px;
        color: #ffffff;
    }

        .modal-header b {
            margin-top: -10px;
        }

    #TbAR table tr td {
        position: relative !important;
        padding: 0px !important;
        height: 35px;
        margin-left: 15px;
        margin-top: 10px;
        background-color: none;
    }

    table tbody tr td {
        background-color: #ffffff;
        color: black;
    }

    table tbody tr.selected td {
        background: #94d8e1;
        color: red;
    }

        table tbody tr.selected td .clsinput {
            background: #94d8e1;
            color: red;
        }

    .clsinput:focus {
        outline: none;
    }
</style>

<div id="#main">
    <div class="row" style="margin-left:5px;margin-top:5px;color:#696969;">
        <h5 style="margin-top:5px;color:#696969;"></h5>
    </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-create-tab" data-toggle="tab" href="#nav-create" role="tab" aria-controls="nav-home" aria-selected="true">Createting</a>
            <a class="nav-item nav-link" id="nav-print-tab" data-toggle="tab" href="#nav-print" role="tab" aria-controls="nav-profile" aria-selected="false">Printing</a>
        </div>
    </nav>
    <div class="tab-pane fade show active" id="nav-print" role="tabpanel" aria-labelledby="nav-home-tab">
        Hello
    </div>
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row" id="BinCode">

            <div class="col-sm-8" style="padding: 10px;">
                Generate Code
                <div class="input-group">
                    <div class="col-sm-8" style="padding:0px">
                        <input type="text" class="form-control" id="GBarCodeNumbeer" readonly>
                    </div>
                    <div class="col-sm-4">
                        <div class="nav navbar-nav ml-auto">
                            <button class="btn btn-info" id="GenerateBarCode" style="background:#f0eff1;color:#696969">Generate Code</button>
                        </div>
                    </div>
                </div>
                Warehouse Code :
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="input-group-text" id="warehouse"><i class="fa fa-check"></i></button>
                    </div>
                    <input type="text" class="form-control" placeholder="" id="warehousecode">
                    <div class="input-group-append">
                        <button class="input-group-text btnwarehouse" data-toggle="modal" data-target="#ModalWHSCode"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                Warehouse Name:
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="input-group-text" id="warehouse"><i class="fa fa-check"></i></button>
                    </div>
                    <input type="text" class="form-control" placeholder="" id="warehousename">
                    <div class="input-group-append">
                        <button class="input-group-text btnwarehouse" data-toggle="modal" data-target="#ModalWHSCode"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                Bin Location :
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="input-group-text" id="binlocation"><i class="fa fa-check"></i></button>
                    </div>
                    <input type="text" class="form-control" placeholder="" id="binLocationCode">
                    <div class="input-group-append">
                        <button class="input-group-text btnbinLocation" data-toggle="modal" data-target="#ModalBinCode"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="row" style=" padding: 0px; ">
                    <div class="nav navbar-nav ml-auto" style=" padding: 5px; ">
                        <button class="btn btn-info" id="Add" style="background:#f0eff1;color:#696969">Add Item</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*1. Search Warehouse*@
    <div class="modal fade" id="ModalWHSCode">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="background:#f0eff1;color:#696969;">
                <div class="modal-header">
                    <b>List of Warehouse</b>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="tbWarehouse" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                    <thead>
                                        <tr>
                                            <th>Warehouse Code</th>
                                            <th>Warehouse Name</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" id="ChooseWhs" style="background:#f0eff1;color:#696969;">Choose</button>
                    <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*1. Search Bin Location*@
    <div class="modal fade" id="ModalBinCode">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="background:#f0eff1;color:#696969;">
                <div class="modal-header">
                    <b>List of Bin Location</b>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="tbBinLocations" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                    <thead>
                                        <tr>
                                            <th>Bin Code</th>
                                            <th>Warehouse</th>
                                            <th>Warehouse Name</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" id="ChooseBinLocation" style="background:#f0eff1;color:#696969;">Choose</button>
                    <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="padding-left: 5px;">
            <div class="table-responsive">
                <table id="TbGBin" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;margin-bottom:10px;">
                    <thead>
                        <tr>
                            <th>Code </th>
                            <th>Warehouse </th>
                            <th>Warehouse Name </th>
                            <th>Bin Location</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <br />
        <button class="btn btn-success" id="Save" style="margin-left:5px;">Send To SAP</button>
    </div>
</div>
    <script src="~/js/Array.js"></script>
    <script src="~/css/DataTable/jquery-3.3.1.js"></script>
    <script src="~/css/DataTable/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        // 1. Get Warehouse
    $('#tbWarehouse').DataTable({
        bLengthChange: false,
        binfo: false,
        data: LWhs,
        columns: [
            { data: "whsCode", autoWidth: true },
            { data: "whsName", autoWidth: true },
        ]
    });

    var tbWhs = $('#tbWarehouse').DataTable();
    var LWhs = [];
    $('#tbWarehouse tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            tbWhs.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });
    $(".btnWarehouse").click(function () {
        $("#ModalWHSCode").modal({backdrop:"static"});
        $.ajax({
            url: '@Url.Action("GetWarehouseWhs", "BinLocation")',
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                console.log(data);
                LWhs=[]
                LWhs = data.data
                tbWhs.clear();
                tbWhs.rows.add(LWhs);
                tbWhs.draw();
            }
        });
    });
    $('#ChooseWhs').click(function () {
        var index = tbWhs.row('.selected').index();
        var data = tbWhs.row(index).data();
        $('#warehousecode').val(data.whsCode);
        $('#warehousename').val(data.whsName);

    });
    // End Get Warehouse
    // 2. Get BinLocation
    $('#tbBinLocations').DataTable({
        bLengthChange: false,
        binfo: false,
        data: LBins,
        columns: [
            { data: "binCode", autoWidth: true },
            { data: "whsCode", autoWidth: true },
            {data: "whsName",autoWidth:true}
        ]
    });

    var tbBin = $('#tbBinLocations').DataTable();
    var LBins = [];
    $('#tbBinLocations tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            tbBin.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });
       
    $(".btnbinLocation").click(function () {
        $("#ModalBinCode").modal({backdrop:"static"});
        $.ajax({
            url: '@Url.Action("GetBinLocation", "BinLocation")',
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                console.log(data);
                LBins=[]
                LBins = data.data
                tbBin.clear();
                tbBin.rows.add(LBins);
                tbBin.draw();
            }
        });
    });
    $('#ChooseBinLocation').click(function () {
        var index = tbBin.row('.selected').index();
        var data = tbBin.row(index).data();
        $('#binLocationCode').val(data.binCode);

    });
    // Get BinLocation
    // 3. Get Genertating BinCode
        var BinCode=[];
        $('#GenerateBarCode').click(function () {
            $.ajax({
                url: '@Url.Action("GetGenerateBinCode", "BinLocation")',
                type: "GET",
                dataType: "JSON",
                success: function (data) {
                    BinCode = []
                    BinCode = data.data
                    $('#GBarCodeNumbeer').val(BinCode[0].seriesID);
                    console.log(BinCode[0].seriesID);
                }
            });
        });
        //4. Add Bin Information into table
        $('#TbGBin').DataTable({
            bLengthChange: false,
            binfo: false,
            data: allbinLInes,
            columns: [
                { data: "GenerateCode", autoWidth: true },
                { data: "Warehosue", autoWidth: true },
                { data: "WarehouseName", autoWidth: true },
                { data:"BinCode",autoWidth:true}
            ]
        });
        var table = $('#TbGBin').DataTable();
        var allbinLInes = [];
        $('#Add').click(function () {            
            var binLines = {};
            allbinLInes=[]
            binLines.GenerateCode = $('#GBarCodeNumbeer').val();
            binLines.Warehosue = $('#warehousecode').val();
            binLines.WarehouseName = $('#warehousename').val();
            binLines.BinCode = $('#binLocationCode').val();
            allbinLInes.push(binLines);
            table.rows.add(allbinLInes);
            table.draw();
            console.log(allbinLInes);
        });

        
    </script>

