@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    #Icon {
        text-align: center;
        margin-top: 60px;
        font-size: 50px;
        color: #5f95c3;
    }

        #Icon:hover {
            margin-top: 55px;
            font-size: 60px;
        }
</style>
<div class="container">
    @*<div align="center" style="font-size:55px; font-weight:bolder; text-shadow: #808080 1px 1px">Barcode System</div>*@
    <div class="row">
        <div id="getStatus"></div>
        @*<div class="col-lg-3" style="width: 250px;height: 250px;margin-top:30px;">
                <a asp-controller="Dashboard" asp-action="DashboardSaleAR">
                    <div style="width:100%;height:100%;background:#f0eff1">
                        <div style="text-align:center">
                            <p style="text-align:center;padding-top:15px;">Sale A/R</p>
                        </div>
                        <div style="width:100%;height:100%;text-align:center">
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3" style="width: 250px;height: 250px;margin-top:30px;">
                <a href="#" onclick="test2()">
                    <div style="width:100%;height:100%;background:#f0eff1">
                        <div style="text-align:center">
                            <p style="text-align:center;padding-top:15px;">Sale A/R</p>
                        </div>
                        <div style="width:100%;height:100%;text-align:center">
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3" style="width: 250px;height: 250px;margin-top:30px;">
                <a href="#" onclick="POSTDataAPI()">
                    <div style="width:100%;height:100%;background:#f0eff1">
                        <div style="text-align:center">
                            <p style="text-align:center;padding-top:15px;">POST DATA to Web API</p>
                        </div>
                        <div style="width:100%;height:100%;text-align:center">
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>*@
    </div>
</div>

<script>
    function test1() {
        $.ajax({
        url: '@Url.Action("GetAPITesting", "Home")',
        type: "GET",
        //data: { ItemCode: Items },
        dataType: "JSON",
            beforeSend: function () {
          
                    //$('#Modalloder').modal('show');
        },
        success: function (data) {
            console.log(data);
            if (data.errorCode == 0) {                
                alert("I can get Data from Restful Service");
            } else {
                alert("Oppp Maybe Internal Error Look Like this:" + data.errorMessage);                
            }
        }
    });
    }

    //function GetDataConfig() { }
        $.ajax({
        url: '@Url.Action("GetDataConfig", "Home")',
        type: "GET",
        dataType: "JSON",
            success: function (data) {
                var jqueryXml = $(data);
                //console.log(jqueryXml);
                
                //console.log(jqueryXml[0].errorMessage); 
                //console.log(jqueryXml[0].errorCode);
                if (jqueryXml[0].errorCode != 0) {
                    console.log("DbName -> " + jqueryXml[0].data[0].companyDB);
                    console.log("User -> " + jqueryXml[0].data[0].userNameSAP);
                    console.log("Error");
                    document.getElementById("getStatus").innerHTML = "Status : Offline <br> Msg : " + jqueryXml[0].errorMessage;
                    document.getElementById("getStatus").style.color = "Red";
                    document.getElementById("getStatus").style.fontWeight = "Bold";
                } else {
                    console.log("DbName -> " + jqueryXml[0].data[0].companyDB);
                    console.log("User -> " + jqueryXml[0].data[0].userNameSAP);
                    console.log("Connected");
                    document.getElementById("getStatus").innerHTML = "Status : Online";
                    document.getElementById("getStatus").style.color = "Green";
                    document.getElementById("getStatus").style.fontWeight = "Bold";
                }
            },
            error: function (erro) {
                console.log(erro.responseText);
            }
    });
    

    @*function POSTDataAPI() {
        obj = {};
        arrayLine = {};
        line = [];
        obj.cardCode = "EAC00001";
        obj.numAtCard = "123";
        obj.docDate = "2021-12-16";
        obj.contactPersion = "";
        obj.docType = "";
        arrayLine.itemCode = "00-1121-140-01";
        arrayLine.quantity = 1;
        arrayLine.unitPrice = 5;
        arrayLine.discount = 0;
        arrayLine.TaxCode = "";
        arrayLine.warehouseCode = "01";
        arrayLine.uomCode = "";
        line.push(arrayLine);
        obj.Lines = line;
        console.log(obj);
        $.ajax({
            url: '@Url.Action("PostDataAPI", "Home")',
            type: "POST",
            data: { sendGoodsReturn: obj },
            dataType: "JSON",
            beforeSend: function () {
                        //$('#Modalloder').modal('show');
            },
            success: function (data) {
                console.log(data);

            }
        });
    }*@
</script>