@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    #Icon {
        text-align: center;
        margin-top: 60px;
        font-size: 50px;
        color: #5f95c3;
    }

        #Icon:hover {
            margin-top: 55px;
            font-size: 60px;
        }
</style>
<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<div class="container">
    @*<div align="center" style="font-size:55px; font-weight:bolder; text-shadow: #808080 1px 1px">Barcode System</div>*@
    <div id="getStatus">...</div>
    <div id="getDBName">...</div>
    <div id="getUserSAP">...</div>
    <div class="row">

        <div class="col-lg-3" style="width: 250px;height: 250px;margin-top:30px;">
            <a asp-controller="Home" asp-action="FrmCheckItem">
                <div style="width:100%;height:100%;background:#f0eff1">
                    <div style="text-align:center">
                        <p style="text-align:center;padding-top:15px;"><b>Product Detail</b></p>
                    </div>
                    <div style="width:100%;height:100%;text-align:center">
                        <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3" style="width: 250px;height: 250px;margin-top:30px;">
            <a asp-controller="Inventory" asp-action="formRptTransferIM">
                <div style="width:100%;height:100%;background:#f0eff1">
                    <div style="text-align:center">
                        <p style="text-align:center;padding-top:15px;"><b>Report Inventory Transfer IM</b></p>
                    </div>
                    <div style="width:100%;height:100%;text-align:center">
                        <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>
        @*<div class="col-lg-3" style="width: 250px;height: 250px;margin-top:30px;">
                <a href="#" onclick="test2()">
                    <div style="width:100%;height:100%;background:#f0eff1">
                        <div style="text-align:center">
                            <p style="text-align:center;padding-top:15px;">Sale A/R</p>
                        </div>
                        <div style="width:100%;height:100%;text-align:center">
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3" style="width: 250px;height: 250px;margin-top:30px;">
                <a href="#" onclick="POSTDataAPI()">
                    <div style="width:100%;height:100%;background:#f0eff1">
                        <div style="text-align:center">
                            <p style="text-align:center;padding-top:15px;">POST DATA to Web API</p>
                        </div>
                        <div style="width:100%;height:100%;text-align:center">
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>*@
    </div>
</div>

<script>
    function test1() {
        $.ajax({
        url: '@Url.Action("GetAPITesting", "Home")',
        type: "GET",
        //data: { ItemCode: Items },
        dataType: "JSON",
            beforeSend: function () {

                    //$('#Modalloder').modal('show');
        },
        success: function (data) {
            console.log(data);
            if (data.errorCode == 0) {
                alert("I can get Data from Restful Service");
            } else {
                alert("Oppp Maybe Internal Error Look Like this:" + data.errorMessage);
            }
        }
        });
    }

    document.getElementById("getStatus").innerHTML = "Status : Online";
    document.getElementById("getStatus").style.color = "Green";
    document.getElementById("getStatus").style.fontWeight = "Bold";
    document.getElementById("getDBName").innerHTML = "DB Name : UDOM_TRD";
    document.getElementById("getDBName").style.color = "Green";
    document.getElementById("getDBName").style.fontWeight = "Bold";
    if (getCookie("username") != "") {
        document.getElementById("getUserSAP").innerHTML = "Username : " + getCookie("username");
        document.getElementById("getUserSAP").style.color = "Green";
        document.getElementById("getUserSAP").style.fontWeight = "Bold";
    }

    //function GetDataConfig() { }
        $.ajax({
        url: '@Url.Action("GetDataConfig", "Home")',
        type: "GET",
        dataType: "JSON",
            success: function (data) {
            console.log(data)
            //START -> Check Error [Cannot read properties of undefined]
                if (data !== undefined) {
                    var jqueryXml = $(data);
                    if (jqueryXml[0].errorCode != 0) {
                        console.log("DbName -> " + jqueryXml[0].data[0].companyDB);
                        console.log("User -> " + jqueryXml[0].data[0].userNameSAP);
                        console.log("Error");
                        document.getElementById("getStatus").innerHTML = "Status : Offline <br> Msg : " + jqueryXml[0].errorMessage;
                        document.getElementById("getStatus").style.color = "Red";
                        document.getElementById("getStatus").style.fontWeight = "Bold";

                        document.getElementById("getDBName").innerHTML = "DB Name : Empty";
                        document.getElementById("getDBName").style.color = "Red";
                        document.getElementById("getDBName").style.fontWeight = "Bold";
                        //getDBName
                        
                    } else {
                        console.log("DbName -> " + jqueryXml[0].data[0].companyDB);
                        console.log("User -> " + jqueryXml[0].data[0].userNameSAP);
                        console.log("Connected");
                        //get cookie
                        let user = getCookie("username");
                        let passer = getCookie("passw0rder");
                        console.log("UserName : " + user);
                        //console.log("Passw0rd : " + passer);
                        document.getElementById("getStatus").innerHTML = "Status : Online";
                        document.getElementById("getStatus").style.color = "Green";
                        document.getElementById("getStatus").style.fontWeight = "Bold";

                        document.getElementById("getDBName").innerHTML = "DB Name : " + jqueryXml[0].data[0].companyDB;
                        document.getElementById("getDBName").style.color = "Green";
                        document.getElementById("getDBName").style.fontWeight = "Bold";

                        document.getElementById("getUserSAP").innerHTML = "Username : " + user;
                        document.getElementById("getUserSAP").style.color = "Green";
                        document.getElementById("getUserSAP").style.fontWeight = "Bold";
                    }
                }
                else {
                    //fncErr();
                }
                //END -> Check Error [Cannot read properties of undefined]


            },
            error: function (err) {
                console.log(err.responseText);
            }
    });

    function fncErr() {
        alert("Server error responses\r\nเกิดข้อผิดพลาดของเซิร์ฟเวอร์");
        document.getElementById("getStatus").innerHTML = "Status : Offline";
        document.getElementById("getStatus").style.color = "Red";
        document.getElementById("getStatus").style.fontWeight = "Bold";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function checkCookie() {
        let user = getCookie("username");
        if (user != "") {
            alert("Welcome again " + user);
        } else {
            alert("Empty");
        }
    }

    @*function POSTDataAPI() {
        obj = {};
        arrayLine = {};
        line = [];
        obj.cardCode = "EAC00001";
        obj.numAtCard = "123";
        obj.docDate = "2021-12-16";
        obj.contactPersion = "";
        obj.docType = "";
        arrayLine.itemCode = "00-1121-140-01";
        arrayLine.quantity = 1;
        arrayLine.unitPrice = 5;
        arrayLine.discount = 0;
        arrayLine.TaxCode = "";
        arrayLine.warehouseCode = "01";
        arrayLine.uomCode = "";
        line.push(arrayLine);
        obj.Lines = line;
        console.log(obj);
        $.ajax({
            url: '@Url.Action("PostDataAPI", "Home")',
            type: "POST",
            data: { sendGoodsReturn: obj },
            dataType: "JSON",
            beforeSend: function () {
                        //$('#Modalloder').modal('show');
            },
            success: function (data) {
                console.log(data);

            }
        });
    }*@
</script>