<div class="row" style="margin-left:5px;margin-top:5px;color:#696969;">
    <h5 style="margin-top:5px;color:#696969;">
        <a asp-action="DashboardAR" asp-controller="Dashboard" onclick="return confirm('Unsaved data will be lost. Do you want to continue without saving?')"><i class="fas fa-home"></i> Dashboard</a>
        <span>
            <a asp-action="ShowAR" asp-controller="ARInvoice" onclick="return confirm('Unsaved data will be lost. Do you want to continue without saving?')"><i class="fa fa-caret-right align-right"></i> O2O</a>
            <i class="fa fa-caret-right align-right"></i> Create O2O
        </span>
    </h5>
</div>