@{
    ViewData["Title"] = "Dashboard-Sale A/R";
}
<style type="text/css">
    #Icon {
        color: #5f95c3;
        font-size: 45px;
        margin-top: 60px;
        text-align: center;
    }

        #Icon:hover {
            margin-top: 55px;
            font-size: 60px;
        }
</style>
<div class="container">
    <div class="row">
        <div class="alink col-lg-3">
            <a asp-controller="SaleOrder" asp-action="CreateDelivery">
                <div style="width:100%;height:100%;background:#f0eff1">
                    <div style="text-align:center">
                        <p style="text-align:center;padding-top:15px;">
                            <b>Delivery</b><br>
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="alink col-lg-3">
            <a asp-controller="Return" asp-action="CreateReturn">
            <div style="width:100%;height:100%;background:#f0eff1">
                <div style="text-align:center">
                    <p style="text-align:center;padding-top:15px;">
                        <b>Delivery Return</b><br>
                        <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                    </p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>

