@{
    ViewData["Title"] = "Dashboard-Inventory";
}
<style type="text/css">

    /*Scanner*/
    @@media screen and (max-width: 320px) {
        #Icon {
            color: #5f95c3;
            font-size: 45px;
            margin-top: 15px;
            text-align: center;
        }

        .tabIcon {
            width: 100px;
            height: 115px;
            background: #f0eff1;
        }

        .p1 {
            text-align: center;
            padding-top: 15px;
        }
    }

    /*Moblie*/
    @@media screen and (max-width: 500px) {
        #Icon {
            color: #5f95c3;
            font-size: 45px;
            margin-top: 60px;
            text-align: center;
        }

            #Icon:hover {
                margin-top: 55px;
                font-size: 60px;
            }

        .tabIcon {
            width: 100%;
            height: 100%;
            background: #f0eff1;
        }

        .p1 {
            text-align: center;
            padding-top: 15px;
        }
    }

    /*Laptop*/
    @@media (min-width:300px) and (max-width:1920px) {
        #Icon {
            color: #5f95c3;
            font-size: 45px;
            margin-top: 60px;
            text-align: center;
        }

            #Icon:hover {
                margin-top: 55px;
                font-size: 60px;
            }

        .tabIcon {
            width: 100%;
            height: 100%;
            background: #f0eff1;
        }

        .p1 {
            text-align: center;
            padding-top: 15px;
        }

        .lbh1 {
            font-weight: bold;
            text-shadow: 1px 1px #808080;
            border-top: 1px solid #000000;
            border-bottom: 1px solid #000000;
            width: 100%;
        }
    }
</style>

<div class="container">
    <label class="lbh1">Inventory Transfer (IM)</label>
    <div class="row">

        <div class="alink col-lg-3">
            <a asp-controller="Inventory" asp-action="CreateInventoryTransferBB">
                <div class="tabIcon">
                    <div style="text-align:center">
                        <p class="p1">
                            <b>Inventory Tranfer<br>(IM)</b><br>
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="alink col-lg-3">
            <a asp-controller="Inventory" asp-action="CreateSONotify">
                <div class="tabIcon">
                    <div style="text-align:center">
                        <p class="p1">
                            <b>SO for Notify<br>(แจ้งใช้)</b><br>
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <label class="lbh1">Inventory Transfer (CV)</label>
    <div class="row">
        <div class="alink col-lg-3">
            <a asp-controller="Inventory" asp-action="CreateInventoryTransferRBB">
                <div class="tabIcon">
                    <div style="text-align:center">
                        <p class="p1">
                            <b>Inventory Tranfer<br>(CV)</b><br>
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <label class="lbh1">Inventory Counting</label>
    <div class="row">
        <div class="alink col-lg-3">
            <a asp-controller="Inventory" asp-action="CreateInventoryCounting">
                <div class="tabIcon">
                    <div style="text-align:center">
                        <p class="p1">
                            <b>Inventory Counting</b><br>
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <label class="lbh1">Report</label>
    <div class="row">
        <div class="alink col-lg-3">
            <a asp-controller="Inventory" asp-action="FrmPrintForTransfer">
                <div class="tabIcon">
                    <div style="text-align:center">
                        <p class="p1">
                            <b>Print Lable Transfer</b><br>
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="alink col-lg-3">
            <a asp-controller="Inventory" asp-action="formRptTransferIM">
                <div class="tabIcon">
                    <div style="text-align:center">
                        <p class="p1">
                            <b>Report Inventory Transfer IM</b><br>
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>

    </div>



</div>
