@{
    ViewData["Title"] = "Dashboard-Sale A/R";
}
<style type="text/css">
    #Icon {
        color: #5f95c3;
        font-size: 50px;
        margin-top: 60px;
        text-align: center;
    }

    #Icon:hover {
        font-size: 60px;
        margin-top: 55px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-3" style="height: 250px; margin-top: 30px; width: 250px;">
            <a asp-controller="SaleOrder" asp-action="CreateSaleOrder">
                <div style="background: #f0eff1; height: 100%; width: 100%;">
                    <div style="text-align: center">
                        <p style="padding-top: 15px; text-align: center;">Delivery</p>
                    </div>
                    <div style="height: 100%; text-align: center; width: 100%;">
                        <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3" style="height: 250px; margin-top: 30px; width: 250px;">
            <a asp-controller="DeliveryReturn" asp-action="CreateDeliveryReturn">
                <div style="background: #f0eff1; height: 100%; width: 100%;">
                    <div style="text-align: center">
                        <p style="padding-top: 15px; text-align: center;">Delivery Return</p>
                    </div>
                    <div style="height: 100%; text-align: center; width: 100%;">
                        <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>