@{
    ViewData["Title"] = "Dashboard-Inventory";
}
<style type="text/css">
    #Icon {
        color: #5f95c3;
        font-size: 50px;
        margin-top: 60px;
        text-align: center;
    }

        #Icon:hover {
            margin-top: 55px;
            font-size: 60px;
        }
</style>

<div class="container">
    <div class="row">
        @* InventoryTransfer (Borrow Bills) *@
        <div class="col-lg-3" style="height: 250px; margin-top: 30px; width: 250px;">
            <a asp-controller="Inventory" asp-action="CreateInventoryTransferBB">
                <div style="width:100%;height:100%;background:#f0eff1">
                    <div style="text-align:center">
                        <p style="text-align:center;padding-top:15px;"><b>Inventory Tranfer (Borrow Bills)</b></p>
                    </div>
                    <div style="height: 100%; text-align: center; width: 100%;">
                        <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>

        @* InventoryTransfer (Return Borrow Bills) *@
        <div class="col-lg-3" style="height: 250px; margin-top: 30px; width: 250px;">
            <a asp-controller="Inventory" asp-action="CreateInventoryTransferRBB">
                <div style="width:100%;height:100%;background:#f0eff1">
                    <div style="text-align:center">
                        <p style="text-align:center;padding-top:15px;"><b>Inventory Tranfer (Return Borrow Bills)</b></p>
                    </div>
                    <div style="height: 100%; text-align: center; width: 100%;">
                        <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3" style="height: 250px; margin-top: 30px; width: 250px;">
            <a asp-controller="Inventory" asp-action="CreateInventoryCounting">
                <div style="width:100%;height:100%;background:#f0eff1">
                    <div style="text-align:center">
                        <p style="text-align:center;padding-top:15px;"><b>Inventory Counting</b></p>
                    </div>
                    <div style="height: 100%; text-align: center; width: 100%;">
                        <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    @*<div class="row">
            <div class="col-lg-3" style="width: 250px;height: 250px;margin-top:30px;">
                <a asp-controller="Inventory" asp-action="CreateInventoryCounting">
                    <div style="width:100%;height:100%;background:#f0eff1">
                        <div style="text-align:center">
                            <p style="text-align:center;padding-top:15px;"><b>Inventory Counting</b></p>
                        </div>
                        <div style="width:100%;height:100%;text-align:center">
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>*@
</div>