@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Dashboard-Purchasing - A/P";
}
<style type="text/css">
    #Icon {
        text-align: center;
        margin-top: 60px;
        font-size: 50px;
        color: #5f95c3;
    }

        #Icon:hover {
            margin-top: 55px;
            font-size: 60px;
        }
    #PO {
        margin-top: 0px;
    }

        #PO:hover {
            margin-top: 3px;
            color: #ffffff;
        }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-3" style="width: 250px;height: 250px;margin-top:30px;">
            <a asp-controller="GoodsReceiptPO" asp-action="CreatePO">
                <div style="width:100%;height:100%;background:#ffffff" id="PO">
                    <div style="text-align:center">
                        <p style="text-align: center; padding-top: 15px; color: #386994; font-weight: 300; font-size: 20px">Goods receipt PO</p>
                    </div>
                    <div style="width:100%;height:100%;text-align:center">
                        <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>
        @*<div class="col-lg-3" style="width: 250px;height: 250px;margin-top:30px;">
            <a asp-controller="DeliveryReturn" asp-action="CreateDeliveryReturn">
                <div style="width:100%;height:100%;background:#f0eff1">
                    <div style="text-align:center">
                        <p style="text-align:center;padding-top:15px;">AP Goods return</p>
                    </div>
                    <div style="width:100%;height:100%;text-align:center">
                        <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>*@
    </div>
    <script>
        $('#PO').mouseout(function () {
            document.getElementById("PO").style.backgroundColor = "#ffffff";
        });
        $('#PO').mouseover(function () {
            document.getElementById("PO").style.backgroundColor = "rgba(0, 74, 153,0.1)";
        });
    </script>
</div>

