@{
    ViewData["Title"] = "Dashboard-Inventory";
}
<style type="text/css">
    #Icon {
        text-align: center;
        margin-top: 60px;
        font-size: 50px;
        color: #5f95c3;
    }

        #Icon:hover {
            margin-top: 55px;
            font-size: 60px;
        }
    #Borrow {
        margin-top: 0px;
    }

        #Borrow:hover {
            margin-top: 3px;
        }
    #Return {
        margin-top: 0px;
    }

        #Return:hover {
            margin-top: 3px;
        }
    #Counting {
        margin-top: 0px;
    }

        #Counting:hover {
            margin-top: 3px;
        }
</style>

<div class="container">
    <div class="row">
        @* InventoryTransfer (Borrow Bills) *@
        <div class="col-lg-3" style="width: 250px;height: 250px;margin-top:30px;">
            <a asp-controller="Inventory" asp-action="CreateInventoryTransferBB">
                <div style="width:100%;height:100%;background:#ffffff"  id="Borrow">
                    <div style="text-align:center">
                        <p style="text-align: center; padding-top: 15px; color: #386994; font-weight: 300; font-size: 20px"><b>Inventory Tranfer (Borrow Bills)</b></p>
                    </div>
                    <div style="width:100%;height:100%;text-align:center">
                        <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>

        @* InventoryTransfer (Return Borrow Bills) *@
        <div class="col-lg-3" style="width: 250px;height: 250px;margin-top:30px;">
            <a asp-controller="Inventory" asp-action="CreateInventoryTransferRBB">
                <div style="width:100%;height:100%;background:#ffffff"  id="Return">
                    <div style="text-align:center">
                        <p style="text-align: center; padding-top: 15px; color: #386994; font-weight: 300; font-size: 20px"><b>Inventory Tranfer (Return Borrow Bills)</b></p>
                    </div>
                    <div style="width:100%;height:100%;text-align:center">
                        <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3" style="width: 250px;height: 250px;margin-top:30px;">
            <a asp-controller="Inventory" asp-action="CreateInventoryCounting">
                <div style="width:100%;height:100%;background:#ffffff" id="Counting">
                    <div style="text-align:center">
                        <p style="text-align: center; padding-top: 15px; color: #386994; font-weight: 300; font-size: 20px"><b>Inventory Counting</b></p>
                    </div>
                    <div style="width:100%;height:100%;text-align:center">
                        <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <script>
        $('#Borrow').mouseout(function () {
            document.getElementById("Borrow").style.backgroundColor = "#ffffff";
        });
        $('#Borrow').mouseover(function () {
            document.getElementById("Borrow").style.backgroundColor = "rgba(0, 74, 153,0.1)";
        });
        $('#Return').mouseout(function () {
            document.getElementById("Return").style.backgroundColor = "#ffffff";
        });
        $('#Return').mouseover(function () {
            document.getElementById("Return").style.backgroundColor = "rgba(0, 74, 153,0.1)";
        });
        $('#Counting').mouseout(function () {
            document.getElementById("Counting").style.backgroundColor = "#ffffff";
        });
        $('#Counting').mouseover(function () {
            document.getElementById("Counting").style.backgroundColor = "rgba(0, 74, 153,0.1)";
        });
    </script>
    @*<div class="row">
            <div class="col-lg-3" style="width: 250px;height: 250px;margin-top:30px;">
                <a asp-controller="Inventory" asp-action="CreateInventoryCounting">
                    <div style="width:100%;height:100%;background:#f0eff1">
                        <div style="text-align:center">
                            <p style="text-align:center;padding-top:15px;"><b>Inventory Counting</b></p>
                        </div>
                        <div style="width:100%;height:100%;text-align:center">
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>*@
</div>