@{
    ViewData["Title"] = "Generate Bin Location";

}
<style type="text/css">
    @@media screen and (max-width: 320px) {
        #Icon {
            color: #5f95c3;
            font-size: 45px;
            margin-top: 15px;
            text-align: center;
        }

        .tabIcon {
            width: 100px;
            height: 115px;
            background: #f0eff1;
        }

        .p1 {
            text-align: center;
            padding-top: 15px;
        }
    }

    /*Moblie*/
    @@media screen and (max-width: 500px) {
        #Icon {
            color: #5f95c3;
            font-size: 45px;
            margin-top: 60px;
            text-align: center;
        }

            #Icon:hover {
                margin-top: 55px;
                font-size: 60px;
            }

        .tabIcon {
            width: 100%;
            height: 100%;
            background: #f0eff1;
        }

        .p1 {
            text-align: center;
            padding-top: 15px;
        }
    }

    /*Laptop*/
    @@media (min-width:300px) and (max-width:1920px) {
        #Icon {
            color: #5f95c3;
            font-size: 45px;
            margin-top: 60px;
            text-align: center;
        }

            #Icon:hover {
                margin-top: 55px;
                font-size: 60px;
            }

        .tabIcon {
            width: 100%;
            height: 100%;
            background: #f0eff1;
        }

        .p1 {
            text-align: center;
            padding-top: 15px;
        }
    }
</style>

<div class="container">
    <div class="row">
        @*Bin Location *@
        <div class="alink col-lg-3">
            <a asp-controller="CreateLabelSticker" asp-action="GBinLocation">
                <div class="tabIcon">
                    <div style="text-align:center">
                        <p class="p1">
                            <b>Bin Location</b><br>
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="alink col-lg-3">
            <a asp-controller="CreateLabelSticker" asp-action="ItemMaster">
                <div class="tabIcon">
                    <div style="text-align:center">
                        <p class="p1">
                            <b>BarCode Item</b><br>
                            <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        @*
         InventoryTransfer (Return Borrow Bills)
        <div class="col-lg-3" style="width: 250px;height: 250px;margin-top:30px;">
            <a asp-controller="Inventory" asp-action="CreateInventoryTransferRBB">
                <div style="width:100%;height:100%;background:#f0eff1">
                    <div style="text-align:center">
                        <p style="text-align:center;padding-top:15px;"><b>Inventory Tranfer (Return Borrow Bills)</b></p>
                    </div>
                    <div style="width:100%;height:100%;text-align:center">
                        <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3" style="width: 250px;height: 250px;margin-top:30px;">
            <a asp-controller="Inventory" asp-action="CreateInventoryCounting">
                <div style="width:100%;height:100%;background:#f0eff1">
                    <div style="text-align:center">
                        <p style="text-align:center;padding-top:15px;"><b>Inventory Counting</b></p>
                    </div>
                    <div style="width:100%;height:100%;text-align:center">
                        <i id="Icon" class="fas fa-file-medical" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>*@
    </div>
    <script>

        // $('#Bin').style.background = "#ecf2f9";
        $('#Bin').mouseout(function () {
            document.getElementById("Bin").style.backgroundColor = "#ffffff";
        });
        $('#Bin').mouseover(function () {
            document.getElementById("Bin").style.backgroundColor = "rgba(0, 74, 153,0.1)";
        });
        $('#QR').mouseout(function () {
            document.getElementById("QR").style.backgroundColor = "#ffffff";
        });
        $('#QR').mouseover(function () {
            document.getElementById("QR").style.backgroundColor = "rgba(0, 74, 153,0.1)";
        });
                
    </script>
</div>