@{
    ViewData["Title"] = "InventoryCounting";
    DateTime dt = DateTime.Now;
    ViewData["Date"] = dt.ToShortDateString();
}

<link href="~/css/styles.css" rel="stylesheet" />
<link href="~/css/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/css/DataTable/rowReorder.dataTables.min.css" rel="stylesheet" />
@*<link href="~/css/DataTable/responsive.dataTables.min.css" rel="stylesheet" />*@

<script src="~/css/DataTable/jquery-3.3.1.js"></script>
<script src="~/css/DataTable/jquery.dataTables.min.js"></script>
<script src="~/css/DataTable/dataTables.rowReorder.min.js"></script>
<script src="~/css/DataTable/moment.min.js"></script>
<script src="~/css/DataTable/datetime-moment.js"></script>
@*<script src="~/css/DataTable/dataTables.responsive.min.js"></script>*@

<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>

<style>
    tr.selected {
        background: red;
        color: red;
    }

    #main {
        position: absolute;
    }

    .color_tap {
        min-width: 60px;
        background-color: #5f95c3;
        color: #ffffff;
        font-weight: 600;
        margin-right: 1px;
    }

    .nav-tabs .nav-link {
        border-radius: 0px 12px 0px 0px;
        border: 1px solid rgb(193, 193, 193);
        height: 40px;
        line-height: 20px;
    }

    .modal {
        z-index: 200000;
    }

    .modal-header {
        background: #5f95c3;
        height: 40px;
        color: #ffffff;
    }

        .modal-header b {
            margin-top: -10px;
        }

    #TbAR table tr td {
        position: relative !important;
        padding: 0px !important;
        height: 35px;
        margin-left: 15px;
        margin-top: 10px;
        background-color: none;
    }

    table tbody tr td {
        background-color: #ffffff;
        color: black;
    }

    table tbody tr.selected td {
        background: #94d8e1;
        color: red;
    }

        table tbody tr.selected td .clsinput {
            background: #94d8e1;
            color: red;
        }

    .clsinput:focus {
        outline: none;
    }
</style>

<script type="text/javascript">
    /*DocDate*/
    $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $('#DocDate').val(today);
        $('#DocumentDate').val(today);
    });
</script>

<div id="#main">
    @* TimeLine *@
    <div class="row" style="margin-left:5px;margin-top:5px;color:#696969;">
        <h5 style="margin-top:5px;color:#696969;">
            <a asp-action="DashboardInventory" asp-controller="Dashboard" onclick="return confirm('Unsaved data will be lost. Do you want to continue without saving?')"><i class="fas fa-home"></i> Dashboard</a>
            <span>
                <a asp-action="ShowInventory" asp-controller="InventoryCounting" onclick="return confirm('Unsaved data will be lost. Do you want to continue without saving?')"><i class="fa fa-caret-right align-right"></i> Inventory Counting</a>
                <i class="fa fa-caret-right align-right"></i> Create InventoryCounting
            </span>
        </h5>
    </div>
    <hr />

    <div style="padding: 10px; color: #696969;">
        <ul class="nav nav-tabs Tap-PA" id="mytab" role="tablist">
            @*<li class="nav-item">
                    <a class="nav-link active color_tap" id="cus-tab" data-toggle="tab" href="#cus" role="tab" aria-controls="Customer" aria-selected="true">Customer</a>
                </li>*@
            <li class="nav-item">
                <a class="nav-link color_tap" id="item-tab" data-toggle="tab" href="#item" role="tab" aria-controls="Items" aria-selected="false">Add Data</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            @* =============================================== *@

            <div class="tab-pane fade show active" id="item" role="tabpanel" aria-labelledby="item-tab" style="margin-top: 10px">
                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            Posting Date :
                            <div class="input-group">
                                <input type="date" class="form-control" id="DocDate">
                            </div>
                        </div>
                        <div>
                            Document Date :
                            <div class="input-group">
                                <input type="date" class="form-control" id="DocumentDate">
                            </div>
                        </div>

                        Sale Employee :
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="input-group-text" id="COcrCode4"><i class="fa fa-check"></i></button>
                            </div>
                            <input type="text" id="txtSlpCode" autocomplete="off" disabled size="7" />
                            <input type="text" class="form-control" placeholder="" id="txtSlpName" value="" disabled>
                            <div class="input-group-append">
                                <button class="input-group-text" data-toggle="modal" data-target="#ModalSaleEmployee"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div>
                            Ref2 :
                            <div class="input-group">
                                <input type="text" class="form-control" value="" id="ref2">
                            </div>
                        </div>
                        <div>
                            Remark :
                            <div class="input-group">
                                <input type="text" class="form-control" value="" id="comments">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div>
                            Warehouse :
                            <div class="input-group">
                                <input type="text" autocomplete="off" disabled size="7" placeholder="" value="01" id="txtWhsCode">
                                <input type="text" class="form-control" placeholder="" value="คลังอุดมฯ" id="txtWhsName" disabled>
                                <div class="input-group-append">
                                    <button class="input-group-text" data-toggle="modal" data-target="#ModalWarehouse">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div>
                            Bin Location :
                            <div class="input-group">
                                <input type="text" autocomplete="off" disabled size="7" placeholder="" value="" id="txtBinCode">
                                <input type="text" class="form-control" placeholder="" value="" id="txtBinName" disabled>
                                <div class="input-group-append">
                                    <button class="input-group-text" data-toggle="modal" data-target="#ModalBinLocation">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                                <button class="btn btn-danger" data-toggle="modal" id="btnClrBinCode" onclick="ClearBinCode();">
                                    <i class="fa fa-times"></i>
                                </button>

                            </div>
                        </div>
                        <button class="btn btn-warning" id="btnSearch" style="width:100%" onclick="fncGetStockWhsBin();"><b>Search</b></button>
                        <button class="btn btn-danger" id="btnClear" style="width:100%" onclick="ClearTb();"><b>Clear</b></button>
                        <div>                            
                            Scan Barcode :
                            <div class="input-group">
                                <input type="text" class="form-control" value="" id="scanbarcode" style="background-color: antiquewhite; border: 3px solid #000000; margin: 0 auto; text-align: center; ">
                            </div>
                        </div>
                        Quantity :
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="" id="Quantity" value="1">
                            <button class="btn btn-warning" id="btnUpdateQty" style="margin-left:5px;" onclick="fncUpdateQty();">Update Qty</button>
                        </div>
                    </div>

                </div>

            </div>

            @* =============================================== *@
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table id="TbLineStock" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                            <thead>
                                <tr>
                                    <th>ItemCode</th>
                                    <th>ItemName</th>
                                    <th>WarehouseCode</th>
                                    <th>WarehouseName</th>
                                    <th>BinLocationCode</th>
                                    <th>BinLocationName</th>
                                    <th>Quantity</th>
                                    <th>UOMEntry</th>
                                    <th>UOMCode</th>
                                    <th>BatchNo</th>
                                    <th>SerialNo</th>
                                    <th>QTY</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row" style="padding: 15px;margin-top:-20px;margin-bottom:-20px;">
        <div class="nav navbar-nav ml-auto">
            <div class="btn-group">
                <button class="btn btn-success" id="Save" style="margin-left:5px;">Send To SAP</button>
            </div>
        </div>
    </div>
</div>


@*Create Models*@
@*1. Search Customer Code*@
<div class="modal fade" id="ModalCusCode">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background:#f0eff1;color:#696969;">
            <div class="modal-header">
                <b>List of Customer</b>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TbCusCode" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                <thead>
                                    <tr>
                                        <th>Customer Code</th>
                                        <th>Cusetomer Name</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" id="ChooseCus" style="background:#f0eff1;color:#696969;">Choose</button>
                <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
            </div>
        </div>
    </div>
</div>

@*2. Search Warehouse*@
<div class="modal fade" id="ModalWarehouse">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background:#f0eff1;color:#696969;">
            <div class="modal-header">
                <b>List of Warehouse</b>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TbWhs" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                <thead>
                                    <tr>
                                        <th>WhsCode</th>
                                        <th>WhsName</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" id="ChooseWhs" style="background:#f0eff1;color:#696969;">Choose</button>
                <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
            </div>
        </div>
    </div>
</div>

@*3. Search Bin Location*@
<div class="modal fade" id="ModalBinLocation">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background:#f0eff1;color:#696969;">
            <div class="modal-header">
                <b>List of Bin Location</b>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TbBinLocation" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                <thead>
                                    <tr>
                                        <th>BinCode</th>
                                        <th>BinName</th>
                                        <th>BinEntry</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" id="ChooseBinLocation" style="background:#f0eff1;color:#696969;">Choose</button>
                <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
            </div>
        </div>
    </div>
</div>

@*4. Search SaleEmployee*@
<div class="modal fade" id="ModalSaleEmployee">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background:#f0eff1;color:#696969;">
            <div class="modal-header">
                <b>List of Sale Employee</b>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TbSaleEmployee" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                <thead>
                                    <tr>
                                        <th>SlpCode</th>
                                        <th>SlpName</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" id="ChooseSlp" style="background:#f0eff1;color:#696969;">Choose</button>
                <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Array.js"></script>
<script type="text/javascript">

    function ClearBinCode() {
        document.getElementById("txtBinCode").value = '';
        document.getElementById("txtBinName").value = '';
    }

    // Get SaleEmployee
    var tableSlp = $('#TbSaleEmployee').DataTable({
        "ajax": {
            "url": '@Url.Action("GetSaleEmployee", "Inventory")',
            "type": "GET",
            "dataType": "JSON",
            "dataSrc": 'data',
            "complete": function (data) {
                console.log("GET SaleEmployee Complete.");
            }
        },
        "columns": [
            { "data": "slpCode" },
            { "data": "slpName" },
        ],
        "paging": false,
        "ordering": false,
        "info": false,
        "select": true
    });
    tableSlp.on('select', function () {
        var cellCode = tableSlp.rows({ selected: true }).data()[0]['slpCode'];
        var cellName = tableSlp.rows({ selected: true }).data()[0]['slpName'];

        $('#ChooseSlp').click(function () {
            var xCode = document.getElementById("txtSlpCode");
            var xName = document.getElementById("txtSlpName");
            xCode.value = cellCode;
            xName.value = cellName;
        });
    });

    //+++++ Get Warehouse +++++
    var tableWhs = $('#TbWhs').DataTable({
        "ajax": {
            "url": '@Url.Action("GetWarehouse", "Home")',
            "type": "GET",
            "dataType": "JSON",
            "dataSrc": 'data',
            "complete": function (data) {
                console.log("GET Warehouse Complete.");
            }
        },
        "columns": [
            { "data": "whsCode" },
            { "data": "whsName" },
        ],
        "paging": false,
        "ordering": false,
        "info": false,
        "select": true
    });
    tableWhs.on('select', function () {
        var cellCode = tableWhs.rows({ selected: true }).data()[0]['whsCode'];
        var cellName = tableWhs.rows({ selected: true }).data()[0]['whsName'];

        $('#ChooseWhs').click(function () {
            var xCode = document.getElementById("txtWhsCode");
            var xName = document.getElementById("txtWhsName");
            xCode.value = cellCode;
            xName.value = cellName;
        });
    });

    //+++++ GetToBinLocation +++++
    var tableBin = $('#TbBinLocation').DataTable({
        "ajax": {
            "url": '@Url.Action("GetBinLocation", "Home")',
            "type": "GET",
            "dataType": "JSON",
            "dataSrc": 'data',
            "complete": function (data) {
                console.log("GET BinLocation Complete.");
            }
        },
        "columns": [
            { "data": "binCode" },
            { "data": "whsCode" },
            { "data": "absEntry" },
        ],
        "select": true,
        "paging": false,
        "ordering": false,
        "info": false
    });
    tableBin.on('select', function () {
        var cellbinCode = tableBin.rows({ selected: true }).data()[0]['binCode'];
        var cellAbsEntry = tableBin.rows({ selected: true }).data()[0]['absEntry'];

        $('#ChooseBinLocation').click(function () {
            var BinCode = document.getElementById("txtBinCode");
            var BinName = document.getElementById("txtBinName");
            BinCode.value = cellAbsEntry;
            BinName.value = cellbinCode;
        });
    });

    //GET Stock Whs Bin
    function fncGetStockWhsBin() {
        
        if (document.getElementById("txtWhsName").value != '') {

            $.noConflict();
            $.ajax({
            url: '@Url.Action("GetStock_WhsBin", "Inventory")',
                data: { whsCode: '01', binCode: '01-A09-02-A62'},
            type: "GET",
            dataType: "JSON",
            "dataSrc": 'data',
            success: function (data) {
                var tline = $('#TbLineStock').DataTable({
                    "bDestroy": true,
                    "aaData": data.data,
                    "autoWidth": true,
                    "responsive": true,
                    "lengthChange": true,
                    "ordering": true,
                    "columns": [
                        { "data": "itemCode", "autoWidth": true },
                        { "data": "itemName", "autoWidth": true },
                        { "data": "whsCode", "autoWidth": true },
                        { "data": "whsName", "autoWidth": true },
                        { "data": "binCode", "autoWidth": true },
                        { "data": "binEntry", "autoWidth": true },                        
                        { "data": "quantity", "autoWidth": true },
                        { "data": "uomEntry", "autoWidth": true },
                        { "data": "uomCode", "autoWidth": true },
                        { "data": "batchNo", "autoWidth": true },
                        { "data": "serialNo", "autoWidth": true },
                        { "data": "qty", "defaultContent": '<input type="number" ID="txtUpdQty" step="1"/>', attr: { type: "number" }}
                    ],                  
                    "language": { "emptyTable": "No Data" },
                    "order": [[1, 'desc']],
                    "select": true,
                    "paging": false,
                    "ordering": false,
                    "info": false,
                    "searching": false
                });
                tline.columns([2, 4, 7, 8]).visible(false, false);
                //alert("Download Data Complete");
                console.log("Download Data Complete");
            }
            });

            //$('#TbLineStock tbody').empty();
        } else {
            alert("Please Selete Warehouse");
        }
    }

    function ClearTb() {
        //const table = $("#TbLineStock").DataTable();
        //table.clear().draw();
        location.reload();
    }

    function fncUpdateQty() {
        document.getElementById("txtUpdQty").value = document.getElementById("Quantity").value;

        var table = $('#TbLineStock').DataTable();

        alert(table.cell(1,1).data());

    }
</script>

