@{
    ViewData["Title"] = "InventoryTransfer (Return Borrow Bills)";
    DateTime dt = DateTime.Now;
    ViewData["Date"] = dt.ToShortDateString();
}

<link href="~/css/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/css/DataTable/rowReorder.dataTables.min.css" rel="stylesheet" />
@*<link href="~/css/DataTable/responsive.dataTables.min.css" rel="stylesheet" />*@

<script src="~/css/DataTable/jquery-3.3.1.js"></script>
<script src="~/css/DataTable/jquery.dataTables.min.js"></script>
<script src="~/css/DataTable/dataTables.rowReorder.min.js"></script>
<script src="~/css/DataTable/moment.min.js"></script>
<script src="~/css/DataTable/datetime-moment.js"></script>

<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>

<script type="text/javascript">
    /*DocDate*/
    $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $('#DocDate').val(today);
        $('#DocumentDate').val(today);
    });
</script>

<style>
    tr.selected {
        background: red;
        color: red;
    }

    #main {
        position: absolute;
    }

    .color_tap {
        min-width: 60px;
        background-color: #5f95c3;
        color: #ffffff;
        font-weight: 600;
        margin-right: 1px;
    }

    .nav-tabs .nav-link {
        border-radius: 0px 12px 0px 0px;
        border: 1px solid rgb(193, 193, 193);
        height: 40px;
        line-height: 20px;
    }

    .modal {
        z-index: 200000;
    }

    .modal-header {
        background: #5f95c3;
        height: 40px;
        color: #ffffff;
    }

        .modal-header b {
            margin-top: -10px;
        }

    #TbAR table tr td {
        position: relative !important;
        padding: 0px !important;
        height: 35px;
        margin-left: 15px;
        margin-top: 10px;
        background-color: none;
    }

    table tbody tr td {
        background-color: #ffffff;
        color: black;
    }

    table tbody tr.selected td {
        background: #94d8e1;
        color: red;
    }

        table tbody tr.selected td .clsinput {
            background: #94d8e1;
            color: red;
        }

    .clsinput:focus {
        outline: none;
    }
</style>

<div id="#main">
    @* TimeLine *@
    <div class="row" style="margin-left:5px;margin-top:5px;color:#696969;">
        <h5 style="margin-top:5px;color:#696969;">
            <a asp-action="DashboardInventory" asp-controller="Dashboard" onclick="return confirm('Unsaved data will be lost. Do you want to continue without saving?')"><i class="fas fa-home"></i> Dashboard</a>
            <span>
                <a asp-action="ShowInventory" asp-controller="InventoryTransfer" onclick="return confirm('Unsaved data will be lost. Do you want to continue without saving?')"><i class="fa fa-caret-right align-right"></i> Inventory Transfer</a>
                <i class="fa fa-caret-right align-right"></i> Create InventoryTransfer (Return Borrow Bills)
            </span>
        </h5>
    </div>
    <hr />

    <div style="padding: 10px; color: #696969;">
        <ul class="nav nav-tabs Tap-PA" id="mytab" role="tablist">
            @*<li class="nav-item">
                    <a class="nav-link active color_tap" id="cus-tab" data-toggle="tab" href="#cus" role="tab" aria-controls="Customer" aria-selected="true">Customer</a>
                </li>*@
            <li class="nav-item">
                <a class="nav-link color_tap" id="item-tab" data-toggle="tab" href="#item" role="tab" aria-controls="Items" aria-selected="false">Add Data</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="item" role="tabpanel" aria-labelledby="item-tab" style="margin-top: 10px">
                <div class="row">
                    <div class="col-sm-6">
                        Search InventoryTransfer IM No. :
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="input-group-text" id="Cifr"><i class="fa fa-check"></i></button>
                            </div>
                            <input type="text" id="txtDocEntry" disabled size="7" autocomplete="off" />
                            <input type="text" class="form-control" placeholder="" id="txtDocNum" value="" autocomplete="off">
                            <div class="input-group-append">
                                <button class="input-group-text btnModelsItem" data-toggle="modal" data-target="#ModalInfIM"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        Series : <input type="text" id="txtSeriesIM" readonly />
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="input-group-text" id="Cifr"><i class="fa fa-check"></i></button>
                            </div>
                            <input type="text" class="form-control" placeholder="" id="txtSeries" value="" autocomplete="off">
                            <div class="input-group-append">
                                <button class="input-group-text btnModelsItem" data-toggle="modal" data-target="#ModalSeries"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        Customer Code :
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="input-group-text" id="CItemCode"><i class="fa fa-check"></i></button>
                            </div>
                            <input type="text" class="form-control" placeholder="" id="txtCardCode" readonly>
                            <div class="input-group-append">
                                <button class="input-group-text btnModelsItem" data-toggle="modal" data-target="#ModalCusCode"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        Customer Name :
                        <div class="input-group">
                            <input type="text" class="form-control" id="txtCardName" readonly>
                        </div>

                        <div>
                            Posting Date :
                            <div class="input-group">
                                <input type="date" class="form-control" id="DocDate">
                            </div>
                        </div>
                        <div>
                            Document Date :
                            <div class="input-group">
                                <input type="date" class="form-control" id="DocumentDate">
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div class="col-sm-6">
                        <div>
                            From Warehouse :
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="input-group-text" id="COcrCode"><i class="fa fa-check"></i></button>
                                </div>
                                <input type="text" class="form-control" placeholder="" value="" id="FromWhsCode">
                                <!--<div class="input-group-append">
                                <button class="input-group-text btnModelsOcrCode" data-toggle="modal" data-target="#ModalWarehouse"><i class="fa fa-search"></i></button>-->
                                @*ModalFromWhsCode*@
                                <!--</div>-->
                            </div>
                        </div>
                        <!--<div>
                        From Bin Location :
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="input-group-text" id="COcrCode2"><i class="fa fa-check"></i></button>
                            </div>
                            <input type="text" class="form-control" placeholder="" value="" id="FromBinCode">-->
                        @*<input type="text" class="form-control" placeholder="Search Code" value="C62" id="OcrCode2">*@
                        <!--<div class="input-group-append">
                        <button class="input-group-text btnModelsOcrCode2" data-toggle="modal" data-target="#ModalBinLocation"><i class="fa fa-search"></i></button>-->
                        @*ModalFromBinCode*@
                        <!--</div>
                            </div>
                        </div>-->
                        <div>
                            To Warehouse :
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="input-group-text" id="COcrCode3"><i class="fa fa-check"></i></button>
                                </div>
                                <input type="text" class="form-control" placeholder="" id="ToWhsCode" value="">
                                <!--<div class="input-group-append">
                                <button class="input-group-text btnModelsOcrCode3" data-toggle="modal" data-target="#ModalWarehouse"><i class="fa fa-search"></i></button>-->
                                @*ModalToWhsCode*@
                                <!--</div>-->
                            </div>
                        </div>
                        <div>
                            To Bin Location : <input type="text" id="txtBinEntry" />
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="input-group-text" id="COcrCode4"><i class="fa fa-check"></i></button>
                                </div>
                                <input type="text" class="form-control" placeholder="" id="ToBinCode" value="">
                                <div class="input-group-append">
                                    <button class="input-group-text btnModelsOcrCode4" data-toggle="modal" data-target="#ModalBinLocation"><i class="fa fa-search"></i></button>@*ModalToBinCode*@
                                </div>
                            </div>
                        </div>
                        <div>
                            Sale Employee :
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="input-group-text" id="COcrCode4"><i class="fa fa-check"></i></button>
                                </div>
                                <input type="text" size="7" placeholder="" id="SlpCode0" value="" disabled>
                                <input type="text" class="form-control" placeholder="" id="SlpCode" value="" disabled>
                            </div>
                        </div>
                        <div>
                            Journal Remark :
                            <div class="input-group">
                                <input type="text" class="form-control" value="" id="jrnlMemo">
                            </div>
                        </div>
                        <div>
                            Remark :
                            <div class="input-group">
                                <input type="text" class="form-control" value="" id="comments">
                            </div>
                        </div>
                        <div align="center">
                            <br>
                            <div><button class="btn btn-primary btn-lg btn-block" id="btnSeatch" onclick="fncLoadData()"> Search </button></div>
                            <div><button class="btn btn-danger btn-lg btn-block" id="btnClear"> Clear </button></div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="row" id="dataDocnum" style="display:block">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table id="TbDataLine" class="table table-striped table-bordered table-condensed dt-responsive nowrap text-xsmall" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                            <thead>
                                <tr>
                                    <th>ItemCode</th>
                                    <th>ItemName</th>
                                    <th>SAP-QTY</th>
                                    <th>FromWarehouse</th>
                                    <th>ToWarehouse</th>
                                    <th>UomCode</th>
                                    <th>Unit Price</th>
                                    <th>FromBinCode</th>
                                    <th>FromBinEntry</th>
                                </tr>
                            </thead>
                        </table>
                        <br />
                        <div class="col-sm-6">
                            <div>
                                ItemCode : <input type="text" id="txtItemCode" class="form-control" value="" style="background-color: cornsilk;" readonly />
                                ItemName : <input type="text" id="txtItemName" class="form-control" value="" style="background-color: cornsilk;" readonly />
                                Quantity : <input type="text" id="txtQuantity" class="form-control" value="" style="background-color: cornsilk;" readonly />
                                FromBinEntry : <input type="text" id="txtfBinEntry" class="form-control" value="" style="background-color: cornsilk;" readonly />
                            </div>
                            <hr>
                            <div>
                                <label>
                                    Input Quantity :
                                </label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="" id="Quantity" value="1" style="background-color: antiquewhite; border: 3px solid #000000; margin: 0 auto; text-align: center; ">
                                </div>

                                <label>
                                    Scan Barcode :
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" value="" id="txtScanBarCode" style="background-color: antiquewhite; border: 3px solid #000000; margin: 0 auto; text-align: center; ">
                                </div>

                                <label>
                                    Scan Batch/Serial :
                                </label><div class="input-group">
                                    <input type="text" class="form-control" value="" id="txtScanBatchSerial" style="background-color: antiquewhite; border: 3px solid #000000; margin: 0 auto; text-align: center; ">
                                </div>
                                <button class="input-group-text" id="addRow" style="display:none;"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <hr>

                        <div><font size="+1" style="font-weight:bold"><u>List Data From Scan</u></font></div>
                        <div id="GetStcokBatchSerial01">
                            <input type="text" id="getItemCode" />
                            <input type="text" id="getOnHand" />
                            <input type="text" id="getSerialNumber" />
                            <input type="text" id="getBatchNumber" />
                        </div>
                        <button id="btnDelRow">Delete selected row</button>
                        <table id="tbItemList" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>ItemCode</th>
                                    <th>ItemName</th>
                                    <th>Quantity</th>
                                    <th>fromWhsCode</th>
                                    <th>fromBinEntry</th>
                                    <th>toWhsCode</th>
                                    <th>toBinEntry</th>
                                    <th>batchNumber</th>
                                    <th>serialNumber</th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row" style="padding: 15px;margin-top:-20px;margin-bottom:-20px;">
        <div class="nav navbar-nav ml-auto">
            <div class="btn-group">
                <button class="btn btn-success" id="Save" style="margin-left:5px;">Send To SAP</button>
            </div>
        </div>
    </div>
</div>

</div>

@*Create Models*@
@*0. Search Inventory Transfer Request *@
<div class="modal fade" id="ModalInfIM">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background:#f0eff1;color:#696969;">
            <div class="modal-header">
                <b>List of Inventory Transfer Request</b>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TbInf" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                <thead>
                                    <tr>
                                        <th>DocNum</th>
                                        <th>Posting Date</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" id="ChooseInf" style="background:#f0eff1;color:#696969;">Choose</button>
                <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
            </div>
        </div>
    </div>
</div>

@*1. Search Customer Code*@
<div class="modal fade" id="ModalCusCode">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background:#f0eff1;color:#696969;">
            <div class="modal-header">
                <b>List of Customer</b>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TbCusCode" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                <thead>
                                    <tr>
                                        <th>Customer Code</th>
                                        <th>Cusetomer Name</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" id="ChooseCus" style="background:#f0eff1;color:#696969;">Choose</button>
                <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
            </div>
        </div>
    </div>
</div>

@*2. Search Warehouse*@
<div class="modal fade" id="ModalWarehouse">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background:#f0eff1;color:#696969;">
            <div class="modal-header">
                <b>List of Warehouse</b>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TbCusCode" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                <thead>
                                    <tr>
                                        <th>WhsCode</th>
                                        <th>WhsName</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" id="ChooseCus" style="background:#f0eff1;color:#696969;">Choose</button>
                <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
            </div>
        </div>
    </div>
</div>

@*3. Search Bin Location*@
<div class="modal fade" id="ModalBinLocation">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background:#f0eff1;color:#696969;">
            <div class="modal-header">
                <b>List of Bin Location</b>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TbCusCode" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                <thead>
                                    <tr>
                                        <th>BinCode</th>
                                        <th>BinName</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" id="ChooseCus" style="background:#f0eff1;color:#696969;">Choose</button>
                <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
            </div>
        </div>
    </div>
</div>

@*3. Search SaleEmployee*@
<div class="modal fade" id="ModalSaleEmployee">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background:#f0eff1;color:#696969;">
            <div class="modal-header">
                <b>List of Employee</b>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TbCusCode" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                <thead>
                                    <tr>
                                        <th>SlpCode</th>
                                        <th>SlpName</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" id="ChooseCus" style="background:#f0eff1;color:#696969;">Choose</button>
                <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Array.js"></script>
<script type="text/javascript">

    //+++++ GetInventoryTransferRequestLine +++++
    var table0 = $('#TbInf').DataTable({
        "ajax": {
            "url": '@Url.Action("GetOWTR", "Inventory")',
            "type": "GET",
            "dataType": "JSON",
            "dataSrc": 'data',
            "complete": function (data) {
                console.log("GetOWTQ Complete.");
            }
        },
        "columns": [
            { "data": "docNum" },
            { "data": "docDate" },
            { "data": "cardCode" },
            { "data": "cardName" },
            { "data": "slpCode" },
            { "data": "slpName" },
            { "data": "fromWhs" },
            { "data": "toWhs" },
            { "data": "docEntry" },
            { "data": "seriesName"}
        ],
        "order": [[0, 'desc']],
        "select": true,
        "paging": false,
        "ordering": false,
        "info": false,
        "searching": false
    });

    table0.columns([4, 5, 6, 7]).visible(false, false);

    //table0.on('select', function () {

    //    var celldocNum = table0.rows({ selected: true }).data()[0]['docNum'];
    //    var cellcardCode = table0.rows({ selected: true }).data()[0]['cardCode'];
    //    var cellcardName = table0.rows({ selected: true }).data()[0]['cardName'];
    //    var cellSlpCode = table0.rows({ selected: true }).data()[0]['slpCode']
    //    var cellSlp = table0.rows({ selected: true }).data()[0]['slpName'];
    //    var cellfromWhs = table0.rows({ selected: true }).data()[0]['fromWhs'];
    //    var celltoWhs = table0.rows({ selected: true }).data()[0]['toWhs'];
    //    var celldocEntry = table0.rows({ selected: true }).data()[0]['docEntry'];
    //    var cellseriesName = table0.rows({ selected: true }).data()[0]['seriesName'];
    //    //console.log(rowData);

    //    $('#ChooseInf').click(function () {
    //        var txtDocNum = document.getElementById("DocNum");
    //        var txtCardCode = document.getElementById("CardCode");
    //        var txtCardName = document.getElementById("CardName");
    //        var txtSlpCode0 = document.getElementById("SlpCode0");
    //        var txtSlpCode = document.getElementById("SlpCode");
    //        var txtFromWhsCode = document.getElementById("FromWhsCode");
    //        var txtToWhsCode = document.getElementById("ToWhsCode");
    //        var txtDocEntry = document.getElementById("txtDocEntry");
    //        var txtSeriesTFR = document.getElementById("txtSeriesTFR");

    //        txtDocNum.value = celldocNum;
    //        txtCardCode.value = cellcardCode;
    //        txtCardName.value = cellcardName;
    //        txtSlpCode0.value = cellSlpCode;
    //        txtSlpCode.value = cellSlp;
    //        txtFromWhsCode.value = cellfromWhs;
    //        txtToWhsCode.value = celltoWhs;
    //        txtDocEntry.value = celldocEntry;
    //        txtSeriesTFR.value = cellseriesName;
    //    });
    //});



</script>

