@{
    ViewData["Title"] = "Get Data";
}

<hr>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@3.17.0/swagger-ui.css">
<script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js" charset="UTF-8"></script>

<button type="submit" onclick="UserAction()">Search</button>

<script type="text/javascript">

    function UserAction() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                alert(this.responseText);
            }
        };
        xhttp.open("GET", "http://localhost:5002/api/SaleEmployee", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send("Your JSON Data Here");
    }

</script>

<hr>